{
    box-sizing: border-box;
    font-family: RobotoCondensed;
}

header{
    margin-bottom: 80px;
}

.logo_wrapper{
    margin-top: 1%;
    position: fixed;
    left: 0;
    width: 120px;
    height: 125px;
    background-color: black;
}

.logo_text_wrapper{
    top: 1.5rem;
    left: 8.5rem;
    text-transform: none;
    font-size: 13px;
    line-height: 1;
    position: absolute;
    font-weight: 700;
}

.nav_size{
    border-bottom: 1px solid silver;
    background-color: white;
    height: 80px;
}

.navbar_text_wrapper{
    margin:1rem 0 0 35rem ;
    font-weight: 500;
    font-size: 1.5rem;
}

.menu_wrapper{
    font-size: 11px;
    font-weight: 700;
    margin: 1.5% 8% 0 auto;
}

.nav-link:active{
    border-bottom: 2px solid black;
}

.inst_logo{
    margin-left: 95.4%;
    margin-top: 0.2%;
    position: fixed;
}

.blog_logo{
    width: 100%;
    height: auto;
    display: block;
    width: 100%;
    height: auto;
}

.blog_btn{
    color: white;
    font-size: large;
    margin-left: 45%;
    margin-top: -2rem;
    padding-top: 13px;
    width: 152px;
    height: 62px;
    background-color: black;
    border: 2px solid white;
    font-weight: 600;
}

.blog_btn:hover{
    background-color: white;
    color: black;
    border: 4px solid black;
}

.brands_logo{
    font-size: large;
    font-weight: 700;
    margin-top: 8%;
    margin-bottom: 8%;
    text-align: center;
}

.row_margin{
    margin-bottom: 300px;
}

.footer_my{
    bottom: 0;
    background-color: rgb(0,0,0);
    height: 144px;
}

.footer_content{
    font-size: 11px;
    font-weight: 700;
}

.act:hover span{
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.blog_text{
    cursor: url("/img/no-symbol-sign-clip-art-svg.jpg"), pointer;
    font-size: 17px;
    font-weight: 700;
    padding-top: 28%;
    text-align: center;
    margin-left: 4%;
    margin-right: 4%;
    width: auto;
    height: auto;
    position: absolute;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.logo-img:hover{
    opacity: 0.75;
}

.nav_text{
    font-size: 13px;
    font-weight: 700;
}

.story_bg{
    max-width: 640px;
    margin: auto;
    padding: 5rem 16px 13rem 16px;
    color: white;

}

.story_wrapper{
    background-color: rgb(25,25,25);
}

p{
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0 0 1.5rem 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.Starter_core_wrapper{
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
}

.Starter_core_bg{
    max-width: 750px;
    margin: auto;
    padding: 5rem 16px 13rem 16px;
    color: black;
}